@page "/fetchdata/"
@using SteadFastAssessment.Shared.Model
@inject HttpClient Http
@inject NavigationManager NavManager

<h1 class="timeSheetsTitle">Time Sheets</h1>
<TimeSheetTable Data="timeSheets"></TimeSheetTable>
<div class="buttonbar">
    <button type="button" class="btn btn-primary" @onclick="() => StartAdd()">Add Sheet</button>
</div>

@code {
    private ITimeSheet[] timeSheets;

    protected override async Task OnInitializedAsync()
    {
        timeSheets = await Http.GetFromJsonAsync<TimeSheetModel[]>("TimeSheet");
    }

    private void StartAdd()
    {
        //Navigate to Add TimeSheet here
        NavManager.NavigateTo("/addsheet/");
    }
}
