@page "/fetchdata"
@using SteadFastAssessment.Shared.Model
@inject HttpClient Http

<h1>Timesheet List</h1>

@if (AddFormActive)
{
    <TimeSheetForm OnAddFormCancel="CancelAdd" OnTimeSheetSubmit="(model) => CreateTimeSheet(model)"></TimeSheetForm>
}
else
{
    <TimeSheetTable Data="timeSheets"></TimeSheetTable>
    <button type="button" @onclick="() => { AddFormActive = true; }">Add Sheet</button>
}

@code {
    private ITimeSheet[] timeSheets;

    protected override async Task OnInitializedAsync()
    {
        timeSheets = await Http.GetFromJsonAsync<TimeSheetModel[]>("TimeSheet");
    }

    private async Task CreateTimeSheet(TimeSheetModel model)
    {
        var result = await Http.PostAsJsonAsync<TimeSheetModel>("TimeSheet", model);
        CancelAdd();
        //Get an updated list from server
        timeSheets = await Http.GetFromJsonAsync<TimeSheetModel[]>("TimeSheet");
    }

    private void CancelAdd()
    {
        AddFormActive = false;
    }

    private bool AddFormActive { get; set; }

    private TimeSheetModel AddModel { get; set; } = new TimeSheetModel();
}
