@using SteadFastAssessment.Shared.Model

<Microsoft.AspNetCore.Components.Forms.EditForm Model="AddModel"
                                                OnValidSubmit="() => OnTimeSheetSubmit.InvokeAsync(AddModel)">
    <InputText @bind-Value="AddModel.EmployeeName"></InputText>
    <InputDate @bind-Value="AddModel.Date"></InputDate>
    <InputNumber @bind-Value="AddModel.HoursWorked"></InputNumber>
    <button type="submit">Submit</button>
    <button type="button" @onclick="OnCancelClick">Cancel</button>
</Microsoft.AspNetCore.Components.Forms.EditForm>

@code {
    [Parameter] public EventCallback<TimeSheetModel> OnTimeSheetSubmit { get; set; }
    [Parameter] public EventCallback OnAddFormCancel { get; set; }


    private TimeSheetModel AddModel { get; set; } = new TimeSheetModel();

    private void OnCancelClick()
    {
        OnAddFormCancel.InvokeAsync();
        //Clear fields for User Experience
        AddModel = new TimeSheetModel();
    }
}
